# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Venv
.venv/
venv/
env/

# Tests & coverage
tests/
.pytest_cache/
.coverage
htmlcov/

# Docs
docs/
*.md

# Dev tooling
.ruff_cache/
.mypy_cache/
.git/
.gitignore

# Secrets
.env
*.env

# IDE
.vscode/
.idea/

# Docker
docker-compose*.yml
Dockerfile
